/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Page styles
   ========================================================================== */

#siteContainer {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#centerContainer {
    width: 100%;
    max-width: 1280px;
}

.subContainer {
    width: 100%;
    float: left;
}

#containerOne {
    background: url('/img/bg_lightsRain.png');
    height:700px;
    position: relative;
    z-index: 1;
}

#containerOne .overlayContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('/img/txtr_squares.png');
    background-repeat: repeat;
    z-index: 10;
}

#siteNav {
    display: block;
    position: absolute;
    width: 100%;
    list-style: none;
    z-index: 100;
    padding: 0px !important;
}

#siteNav li {
    display: inline;
    z-index: 100;
}

#siteNav a {
    z-index: 100 !important;
    color: #c4c4c4;
    margin: 30px 20px;
    cursor: pointer;
    font-size: 15pt;
    font-weight: 300;
}

#siteNav a:hover {
    z-index: 100 !important;
    color: #ffffff;
    margin: 30px 20px;
    cursor: pointer;
    font-size: 15pt;
    font-weight: 300;
}

.headerOne {
    font-size: 40pt;
    font-weight: 300; 
    color: #ffffff;
    z-index: 100;
    -webkit-font-smoothing:antialiased !important;
}

.headerTwo {
    font-size: 30pt;
    font-weight: 300; 
    color: #ffffff;
    z-index: 100;
    -webkit-font-smoothing:antialiased !important;
}


#containerOne .headerOne {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    height: 100px;
    top: 300px;
}

.linkMore {
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    height: 45px;
    background: url('/img/icon_downArrow.png') no-repeat;
    background-position: center !important;
    cursor: pointer;
    z-index: 100;
}

.linkMore:hover {
    background: url('/img/icon_downArrowLight.png') no-repeat !important;
    background-position: center !important;
    width: 100%;
}

#containerTwo {
    background: url('/img/txtr_geo.png');
    height:auto;
    position: relative;
    z-index: 1;
    text-align: center;
}


#containerThree {
    background: url('/img/bg_cityBlur.jpg');
    height:700px;
    position: relative;
    z-index: 1;
    text-align: center;
}

#containerThree .overlayContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('/img/txtr_squares.png');
    background-repeat: repeat;
    z-index: 10;
}

#containerThree .headerTwo {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    height: 300px;
    top: 290px;
}

#meContainer {
    width: 100%;
    height: 150px;
    margin-top: 90px;
    position: absolute;
    z-index: 100;

}

#containerFour {
    background: url('/img/txtr_geo.png');
    height:700px;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 40px;
}

#containerFour .headerTwo {
    color: #6d6d6d;
}

#containerFive {
    background: url('/img/bg_mountainBlur.png');
    height:700px;
    position: relative;
    z-index: 1;
    padding-top: 40px;
}

#containerFive .overlayContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('/img/txtr_squares.png');
    background-repeat: repeat;
    z-index: 10;
    top: 0px;
    left: 0px;
}

.contentContainer {
    width: 100%;
    height: 500px;
}

#containerFive .headerTwo {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    height: 300px;
    color: #ffffff;
    z-index: 100;
}

#backToTop {
    color: #e8e8e8;
    z-index: 100;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
}

#backToTop a {
    padding: 10px 50px;
    border: 1px solid #6d6d6d;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}